<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
    </div>
    <mat-card-title>Sonu Mishra</mat-card-title>
    <mat-card-subtitle>{{class}} > {{testType}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>


<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card class="card">

      <section class="option-group" *ngIf="currentQuestion">
        <mat-radio-group [(ngModel)]="currentQuestion.weightage">
          <mat-radio-button class="options" [value]="25">
            Bad
          </mat-radio-button>
          <mat-radio-button class="options" [value]="50">
            Moderate
          </mat-radio-button>
          <mat-radio-button class="options" [value]="75">
            Good
          </mat-radio-button>
          <mat-radio-button class="options" [value]="100">
            Excellent
          </mat-radio-button>
        </mat-radio-group>
      </section>

    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="card" style="text-align: center;">
      <span class="question"><strong>{{currentQuestion.question}}</strong></span>

      <img
        class="question-img"
        *ngIf="currentQuestion.questionType === _Image"
        [src]='currentQuestion.source' />

    </mat-card>
  </mat-grid-tile>

</mat-grid-list>

<mat-card>
  <button mat-flat-button color="accent">Previous</button>
  <button mat-flat-button
          color="primary"
          class="option-button"
          *ngIf="isNextActive"
          [disabled]="!currentQuestion.weightage"
          (click)="onNext();">Next
  </button>

  <button mat-flat-button
          color="accent"
          *ngIf="!isNextActive"
          (click)="calculateResult()"
          class="option-button">Done</button>
</mat-card>
