.card {
  width: 90%;
  height: 78%;
}

.container-margin-left {
  margin-left: 10px;
}

.options {
  display: block;
  margin-bottom: 6px;
}

.option-group {
  margin-top: 33px !important;
}

.option-button {
  margin-left: 4px;
}

.question {
  display: block;
}

.question-img {
  height: 85%;
}

audio{
  position: absolute;
  margin-top: 97px;
  left: 238px;
}

.text {
  margin-top: 106px !important;
  font-size: 50px !important;
  text-align: center !important;
}
